<!DOCTYPE html>
<html>
<head>
    <title>Support</title>
    <style>
        body { font-family: Arial; background:#f4f6f9; }
        .container {
            max-width:700px;
            margin:50px auto;
            background:white;
            padding:20px;
            border-radius:10px;
        }
    </style>
</head>
<body>

<div class="container">
    <h2>🆘 Support</h2>

    <h4>❓ Sayt nima haqida?</h4>
    <p>Bu sayt Amerika haqidagi yangiliklar platformasi.</p>

    <h4>❓ Qanday foydalanaman?</h4>
    <p>Category tanlang yoki qidiruvdan foydalaning.</p>

    <h4>❓ Muammo bo‘lsa?</h4>
    <p>Contact sahifadan yozing.</p>

</div>

</body>
</html>